.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.invert {
    filter: invert(1);
}

.rounded {
    border-radius: 6px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: #404040;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #606060;
}

/* For Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #404040 #121212;
}